.port-body{
    width: 100%;
    overflow-x: none;
}

.bold-work:hover{
    transition: .7s;
}

.bold-work:hover{
    text-decoration: underline;
    transition: .7s;
    cursor: pointer;
}


/**
* Navigation Bar
**/
.nav-bar{
    position: absolute;
    width:100%;
    /* background-image: linear-gradient(to left, transparent , white,  transparent , white); */
    display: flex;
    z-index: 300;
    color: gray;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    font-family: 'Alan Sans', sans-serif;
    font-size: 25px;
}

.nav-left{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.l-nav-items{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.l-nav-itm{
    transition: .4s;
    font-size: 1.3ch;
    padding: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid var(--primary-color);

}

.l-nav-itm:hover{
    cursor: pointer;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
    transition: .4s;
}

.nav-right{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

.r-nav-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.r-nav-itm{
    width: 40px;
    height: 40px;
}

.soc-logo{
    width: 27px;
    height: 27px;
    transition: .4s;
}

.soc-logo:hover{
    margin-top: -0.1rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: .4s;
}

.get-quote-border{
    border: 1.3px solid white;
    max-width: 15rem;
    min-width: 15rem;
    width: 15rem;
    border-radius : 20rem;
    display: flex;
    flex-direction: center;
    padding: 3px;
    transition: .4s;
    height: 2.3rem;
}

.get-quote-btn{
    max-width: 15rem;
    min-width: 15rem;
    width: 15rem;
    height: 2.25rem;
    background-color: rgb(255, 255, 255);
    color: black;
    outline: white;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.get-quote-border:hover{
    border: 1.3px solid black;
    transition: .2s;
}

.get-quote-btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .2s;
}

/**
* Header of the landing page
**/
.port-header{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-hello{
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-weight: 500;
    color: var(--text-color);
    font-size: 5ch;
    padding: 0;
    margin: 0;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Alan Sans', sans-serif;
}

.hello-txt{
    /* padding-left: 9vw; */
    /* height: 1.5rem; */
    max-width: 580px;
    border-radius: 0rem 0rem 0rem 0rem;
    overflow: hidden;
    border-right: .55em solid var(--text-color);
    white-space: nowrap;
    letter-spacing: .1em;
    animation: 
        typing 3s steps(16, end),
        blink-caret .45s step-end infinite;
    max-width: fit-content;
    font-size: 45px;
    font-weight: 700;
    display: flex;
    align-items: baseline;
    padding: 0;
}

.hello-txt:hover{
    border-right: .50em solid black;
    cursor: pointer;
}

.my-services{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

@keyframes blink-caret{
    from, to {border-color: transparent}
    50% {border-color: var(--text-color)}
}

.header-img{
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 0px 10rem;
    /* background-color: black; */
}


.head-shot{
    object-fit: contain;
    width: 100%;
}

/**
* Programming Languages
**/
.code-badges{
    justify-self: center;
    padding: 1rem;
    position: absolute;
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 70vw; 
    width: 70vw;
    height: 3rem;
    top: 65vh;
    left: 20vw;
    background-color: var(--primary-color);
    box-shadow: 0px 1px 10px 1px var(--text-color);
    border-radius: 4rem;
    transition: .5s;
}

.code-badges:hover{
    transform: scale(1);
    transition: .5s;
}



.badge-logo{
    width: 50px;
    height: 50px;
    transition: .5s;
}
.badge-logo:hover{
    transition: .5s;
    cursor: pointer;
}

.badge-cpp{
    width: 90px;
    height: 90px;
    margin-top: -1.2rem;
}

.badge-go{
    width: 90px;
    height: 90px;
    margin-top: -1.2rem;
}

.about{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Alan Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 5rem;
    padding-left: 0;
}

.about-p{
    margin: 10vw;
    font-size: 24px;
    font-weight: 500;
}

.proj-working{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vw;
    height: 100vh;
}

.proj-tit{
    font-size: 6ch;
    text-align: center;
    font-family: 'Alan Sans';
}


.proj-itms{
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 70vh;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: scroll;
    font-family: 'Alan Sans', sans-serif;

    &::-webkit-scrollbar{
        height: 1px;
    }
}

.proj-itm-1{
    width: 25vw;
    /* min-height: 400px; */
    border: 1px solid rgb(158, 155, 155);
    border-radius: .5rem;
    transition: .4s;
}

.proj-itm-1:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    /* color: black; */
    text-wrap: wrap;
    transition: .4s;
}

.proj-itm-p{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: wrap;
}

.proj-itm-t{
    font-size: 3ch;
    font-weight: 700;
    margin-bottom: 1rem;
    text-wrap: wrap;
}
.proj-itm-img{
    width: 100%;
}

.proj-img{
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}

.proj-itm-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.proj-view-btn{
    border: 1px solid white;
    background-color: black;
    color: white;
    min-width: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    transition: .4s;
    
}

.proj-view-btn:hover{
    background-color: gray;
    color: white;
    transition: .4s;
    cursor: pointer;
}

.proj-more-ctn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-family: 'Loon', sans-serif;
}

.proj-more-btn{
    border: 1px solid white;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 2rem;
    padding: 1rem;
    border-radius: .4rem;
    /* border: 1px solid black; */
    transition: .4s;
}

.proj-more-btn:hover{
    background-color: white;
    color: black;
    transition: .4s;
    cursor: pointer;
}

.my-services-tit{
    font-family: 'Alan Sans', sans-serif;
    font-size: 5ch;
}

.my-services-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4rem;
}
.service-itm{
    display: flex;
    flex-direction: column;
    width: 25rem;
    border: 1px solid rgb(196, 196, 196);
    margin: 1rem;
    align-items: center;
    padding: 1.4rem;
    border-radius: 1rem;
    transition: .4s;
    font-family: 'Alan Sans', sans-serif;
    font-size: 16px;
}

.service-itm:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    transition: .4s;
}

.service-itm-pa{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.9ch;
}
.service-itm-img{
    width: 40px;
}
.service-itm-logo{
    background-color: rgb(219, 218, 218);
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
}

.contact-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    margin-top: 10rem;
    
    /* margin: 1rem; */
    /* background-color: black; */
}

.contact-tit{
    font-weight: 700;
    font-size: 6ch;
    font-family: 'Alan Sans', sans-serif;
}

.contact-p{
    display: flex;
    flex-direction: row;
}

.ins-cont-m{
    font-family: 'Alan Sans', sans-serif;
    padding: 2rem;
}

.submit-form-btn{
    background-color: black;
    width: 80%;
    height: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3ch;
}

.form-get-contact{
    width: 100%;
    padding: 2rem;
}

.form-inp{
    width: 25rem;
    height: 2rem;
    margin: 1rem;
    padding: 1rem;
    font-size: 2.4ch;
    font-family: 'Alan Sans', Arial, sans-serif;
}

.form-inp-txt{
    width: 100%;
    max-width: 25rem;
    min-width: 25rem;
    height: 9rem;
    min-height: 9rem;
    max-height: 9rem;
    margin: 1rem;  
    padding: 1rem; 
}

.submit-form-btn{
    margin: 1rem;
    transition: .4s;
    border: 1px solid white;
    /* border: 3px solid black; */
    font-family: 'Alan Sans', sans-serif;
}

.submit-form-btn:hover{
    background-color: rgb(241, 241, 241);
    color: black;
    cursor: pointer;
    transition: .4s;
}

.ins-txt{
    font-size: 4ch;
}

.ins-cont-m p{
    font-size: 2ch;
}

.form-inp{
    color: black;
}
.form-inp-txt{
    font-family: sans-serif;
    font-size: 2ch;
}

@media (max-width: 1700px) {
    .l-nav-items{
        display: none;
    }
    .r-nav-items{
        display: none;
    }
    .nav-left{
        justify-content: space-between;
    }
    .nav-right{
        justify-content: space-between;
        padding-right: 0;
        position: relative;
    }
    .get-quote-border{
        right: 0;
        top: 0;
        margin: 0;
        margin-top: -1rem;
        margin-right: 1rem;
        justify-self: flex-end;
        float: right;
        position: absolute;

    }

    .port-header{
        flex-direction: column-reverse;
    }

    .header-img{
        border-radius: 0;
        background-position: center;
    }
    .hello-txt{
        margin-top: 3rem;
    }

    .code-badges{
        justify-self: center;
        padding: 1rem;
        position: absolute;
        display: flex; 
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 70vw; 
        width: 70vw;
        height: fit-content;
        top: 75vh;
        left: 50vw;
        right: 50vw;
        background-color: var(--primary-color);
        box-shadow: 0px 1px 10px 1px var(--text-color);
        border-radius: 4rem;
        transition: .5s;
        padding-top: 14px;
        padding-bottom: 0;
        overflow: hidden;
        overflow-x: scroll;

        &::-webkit-scrollbar{
            width: 1px;
        }
        display: none;
    }
    
    .badge-itm{
        margin: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        width: 44px;
        height: fit-content;
        display: flex;
        justify-content: center;
    }

    .hello-txt{
        margin-top: 1rem;
        top: 0;
    }
    .proj-itms{
        height: 50vh;
        flex-direction: column;
        align-items: space-around;
    }
    .proj-itm-1{
        margin: 1rem;
        width: 70vw;
        height: 70vh;
    }
    .service-itm{
        min-width: 11rem;
    }
    .contact-p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .form-get-contact{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    input{
        width: 80%;
    }

    textarea{
        width: 80%;
    }

    .contact-p{
        padding: 1rem;
    }

    .ins-txt{
        padding: 1rem;
        font-size: 2.5ch;
    }
    .ins-p{
        padding: 1rem;
        font-size: 18px;
    }

    .ins-cont-m{
        font-size: 1.5ch;
    }

    .submit-form-btn-news{
        width: 92%;
    }
}